<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增资产变更')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-change-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">资产id：</label>
                <div class="col-sm-8">
                    <input name="assetsId" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">变动类型：</label>
                <div class="col-sm-8">
                    <select name="changeType" class="form-control m-b">
                        <option value="">所有</option>
                    </select>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">提交部门：</label>
                <div class="col-sm-8">
                    <input name="submittedDepartment" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">提交人：</label>
                <div class="col-sm-8">
                    <input name="submitOne" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">使用部门：</label>
                <div class="col-sm-8">
                    <input name="useDepartment" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">使用人：</label>
                <div class="col-sm-8">
                    <input name="users" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">使用人：</label>
                <div class="col-sm-8">
                    <input name="extend1" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">使用人：</label>
                <div class="col-sm-8">
                    <input name="extend2" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">使用人：</label>
                <div class="col-sm-8">
                    <input name="extend3" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">使用人：</label>
                <div class="col-sm-8">
                    <input name="extend4" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">使用人：</label>
                <div class="col-sm-8">
                    <input name="extend5" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "property/change"
        $("#form-change-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-change-add').serialize());
            }
        }
    </script>
</body>
</html>